body{
    overflow-x: hidden;
    margin:0
}
/* .central_container{
    max-width: 1200px;
    margin: auto;
} */
.slider{
    overflow: hidden;
    /* max-width: 1000px; margin: auto; width: 100%; */
    /* width: 300px;
    overflow: hidden;
    height: 100%;*/
    margin: auto; 
    /* display: flex; */
    
}
.slider .imgContainer{
    
    display: flex;
    align-items: flex-start;
    /* flex-basis: 300px; */
    transition: all 0.3s;
}
.slider img{
    /* display: none; */
    /* object-fit: contain;
    max-width: 300px;
    width: 100%;
    height: 300px;  */
    
}
.slider img.visible{
    display: block;
    margin: auto;
}
.visibleBtn{
    display: block;
}